body { 
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.common {
    background-color: #cccccc;
    border: 2px solid white;
    position: absolute;
}

.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    border-bottom: 1px solid black;
}

.leftmenu { 
    top: 114px;
    left: 5px;
    width: 150px;
    bottom: 39px;
    padding-left: 5px;
   border-right: 1px solid black;
}

.mainbody {
    top: 114px;
    right: 164px;
    left: 164px;
    bottom: 39px;
}

.rightmenu {
    top: 114px;
    right: 5px;
    width: 150px;
    bottom: 39px;
    text-align: left;
    padding-left: 5px;
    border-left: 1px black solid;
}

.footer {
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 25px;
    position: fixed;
}


.subheader { 
    float: right;
}

.column1 {
    top: 5px;
    width:300px;
    bottom:39px;
    left: 7px;
    background-image: url('../images/Family\ Pictures\ Summer\ 2023/1D.jpg');
    z-index: 2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.column2 {
    top: 5px;
    width: 300px;
    bottom: 39px;
    left: 311px;
    background-image: url('../images/Family\ Pictures\ Summer\ 2023/2B.jpg');
    z-index: 2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.column3 {
    top: 5px;
    bottom: 39px;
    left: 613px;
    width: 300px;
    background-image: url('../images/Family\ Pictures\ Summer\ 2023/3A.jpg');
    z-index: 2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  


.column4 {
    top:5px;
    bottom:39px;
    left:917px;
    width:300px;
    background-image: url('../images/Family\ Pictures\ Summer\ 2023/4A.jpg');
    z-index: 2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.column5 {
    top:5px;
    bottom:39px;
    left:1221px;
    width:300px;
    background-image: url('../images/Family\ Pictures\ Summer\ 2023/5C.jpg');
    z-index: 2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.video {
    top: 114px;
    right: 164px;
    left: 164px;
    bottom: 39px;
    z-index: 1;

}

.video1  {
    z-index: 5;
    position: relative;
    top: 200px;
    left: 25%;
    height: 450px;
    width: 800px;
}

.graph {
z-index:5 ;
position: relative;
top: 145px;
left: 275px;
}